html {
 background-color: #0099CC;   
}

/* forgot this is the comment thing for the css thing
*/

h1 {
    color: #fbf3fa;
    font-weight: normal;
    font-size: 5rem;
    font-style: italic;
    text-decoration: overline;
    font-family: "Comic Sans", sans-serif;
}