html {
 background-color: #0099CC;   
}

/* forgot this is the comment thing for the css thing
*/

h1, h2 {
    color: #fbf3fa;
    font-weight: normal;
    font-size: 5rem;
    font-style: italic;
    text-decoration: overline;
    font-family: 'Oxygen', sans-serif;
    /* line-height is leading.*/
    line-height: 1.5;
}

ol {
    list-style-type: none;
    /* circle, disc, lower-roman, lower-alpha, square
    */
    padding: 0;
    line-height: 1;
}

.juan {
    color: blue;
}